.cardHeader img {
    max-height: 150px;
    width: auto;
    display: block;
    margin: auto !important;
    padding: 15px;
}
.cardHeader {
    max-height: 150px;
}
.card-body.productInfo {
    display: flex;
    background: #fbfbfb;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
}